body {
  text-align: center;
  background-color: red;
  font-family: cursive;
}



.dropdown {
  width: 225px;
  height: 75px;
  font-size: xx-large;
}
  .qac {
    height: 100px;
    width: 250px;
    font-size: large;
}
  .submit {
    height: 50px;
    width: 100px;
    appearance: none;
    border-radius: 100px;
    font-size: large;

  }

  .fn {
    height: 50px;
    width: 300px;
    appearance: none;
    border: solid;
    font-size: large;
}

.ln {
  height: 50px;
  width: 300px;
  appearance: none;
  border: solid;
  font-size: large;
}

.email {
    height: 50px;
    width: 300px;
    appearance: none;
    border: solid;
    font-size: large;
}

  .mdy {
    height: 50px;
    width: 300px;
    appearance: none;
    border: solid;
    font-size: large;
}

table {
  border: solid black;
  display: flex;
  background-color: white;
}

td, th {
  border: solid black;
  width: 20em;
}